* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
div, p, h1, h2, h3, h4, h5, h6 {
  color:#ffc107;
}

html {
  background-color:#cddc39;
  min-height: 100%;
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#container {
  display: flex;
  width: 800px;
  padding-left: 1em;
  min-height: 500px;
  box-shadow: 8px 8px 0px 0px rgba(0,0,0,0.5);
  color:#ffffff;
  background-color:#333;
}

.content {
  max-height: 100%;
  flex: 1;
}

textarea {
  border: none;
  outline: none;
  color:#ffffff;
  background-color:#333;
  white-space: pre;
  word-wrap: break-word;
}
textarea, .monospace {
  font-family: 'Roboto Mono', 'monospace';
}
.librarylink {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  color:#ffc107;
}
.librarylink.current {
  color: #fff;
}
.librarylink:hover {
  color: #333;
  background-color: #ffc107;
}
.fa-bird::after {
  content: "\f099";
}
/* Mobile */
@media screen and (max-width: 800px), screen and (max-height: 500px) {
  #container {
    width: 100%;
    height: 100%;
    min-height: 100%;
  }
  #container > .content {
    height: 100%;
  }
}

/* Custom scroll bars */
::-webkit-scrollbar {
  width:  4px;
  height: 4px;
}
::-webkit-scrollbar-thumb {
  background: #ffc107;
}
::-webkit-scrollbar-track {
  background: #444;
}
body {
  scrollbar-face-color: #ffc107;
  scrollbar-track-color: #444;
}
